body{
    background-image: url("stretched-1920-1080-1346191.png");
}

.Music-Sound{
    position: absolute ;
    top: 57%;
    left: 69.4%;
    height: 100px ;
    width: 250px;
}

.text-contain{
    position: absolute;
    top: 35% ;
    left: 10% ;
    height: 500px ;
    width: 250px;
    border: honeydew;
    fill: honeydew;
}


.container {
    position: absolute;
    top: 35%;
    left: 72.5%;
    width: 175px;
    height: 175px;
    border: 1px solid #ccc;

}
.gambar {
    position: absolute;
    top: 0%;
    left: 0% ;
    width: 175px;
    height: 175px;
   
}