body{
    background-image: url("stretched-1920-1080-1346191.png");
}

.Music-Sound{
    position: absolute ;
    top: 57%;
    left: 69.4%;
    height: 100px ;
    width: 250px;
}

.judul{
    position: absolute;
    top: 20% ;
    left: 7.3% ;
    height: 100px;
    width: 100px;
}

.text-contain{
    position: absolute;
    top: 26.3% ;
    left: 0.697% ;
    height: 500px ;
    width: 250px;
}

.container {
    position: absolute;
    top: 35%;
    left: 72.5%;
    width: 175px;
    height: 175px;
    border: 1px solid #ccc;

}
.gambar {
    position: absolute;
    top: 0%;
    left: 0% ;
    width: 175px;
    height: 175px;
   
}

.icon-wiki{
    position:absolute;
    top: 98%;
    left: 50%;
    right: 50%;
    width: 50px;
    height: 50px;
}

.icon-YT{
    position: absolute;
    top: 98%;
    left: 45%;
    right: 55%;
    width: 50px;
    height: 50px;
}

.icon-spotify{
    position: absolute;
    top: 98%;
    left: 55%;
    right: 45%;
    width: 50px;
    height: 50px;   
}